<style type="text/css">
           a {color: #000055;}
        body {background-color: #ffffff;}
			 .wrap {float: right}
			 table {color: transparent;
 			 			 font-family: "Arial Black", sans-serif; 
			 			 font-size: 12px;
 			 			 border: 1;
						 margin: 0;
						 padding: 0;
						 line-height: 16px;
						 border-width: 0;
						 border-collapse: collapse;
						 width:800px;}
		td			 {vertical-align: top;}
		td.title {text-align: center;
						  line-height: normal;
						 	font-size:72;
							margin: 0;
							padding: 0;
							border: 0;
							font-weight: bold;
							border-bottom: 3px solid #2222af;
							vertical-align: middle;}
	td.bottom  {text-align: center;}
	ol > li		 {padding: 10px;}
	div.button {background-image: url(btnblue.gif);
	 					  background-position: center;
							background-repeat: no-repeat;
							padding-top: 8px;
							text-align: center;
							width: 125;
							height: 25;}
div.button:hover {background-image: url(btnon.gif);}
					 p {text-indent:25px;
					    padding-top: 10px;
							padding-left: 10px}
						</style>
