#tool-main ul {
    padding: 0;
}

#tool-main ul li {
    list-style: none;
}

#tool-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justifty-content: center;
}

#tool-main h2 {
    margin: 0;
}
